.card {
  margin-top: 10px;
  color: var(--purple_color);
}

.card:last-child {
  margin-bottom: 50px;
}

.card a {
  color: var(--purple_color);
}

.link:hover {
  color: var(--orange_color);
}

.countReviews {
  font-size: 11px;
}

.bottomOfCard {
  display: flex;
  justify-content: space-between;
}
