.listItem {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid var(--purple_color);
  border-radius: 5px;
}

.date {
  font-size: 11px;
}

.review {
  margin: 10px 0;
  color: var(--purple_color);
}
