.edge {
  border-bottom: solid 1px var(--grey_color);
}

.label {
  color: var(--purple_color);
  font-size: larger;
}

.buttonEdit {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.buttonEdit button {
  margin: 0 15px;
}

.title {
  color: var(--purple_color);
  margin: 0.5em 0 0.8em 2em;
}

.form {
  margin-top: 1em;
}
