.edge {
  border-bottom: solid 1px var(--grey_color);
}

.label {
  color: var(--purple_color);
  font-size: 14px;
}

.buttonEdit {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 0 50px;
}

.title {
  color: var(--purple_color);
  font-size: large;
  margin-bottom: 14px;
  margin-top: 20px;
}
