@import "bootstrap-reboot.min";
@import "bootstrap-grid.min";

html {
  font-family: RF Rostin, Arial, sans-serif;
}

.h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.85);
}

.text-orange {
  color: #ffbc5b;
}

.text-violet {
  color: #4520ab;
}
