.inputFile {
  color: var(--purple_color);
  border: 1px solid var(--purple_color);
  border-radius: 3px;
  padding: 7px 45px;
}

.inputFile:hover {
  box-shadow: 0 0 0 2px var(--purple_color);
}

.label {
  margin-top: 8px;
}
