.button {
    border: none;
    border-radius: 5px;
    background-color: var(--purple_color);
    color: var(--orange_color);
}

.button:hover {
    background-color: var(--orange_color);
    color: var(--purple_color);
}

.button:focus {
    background-color: var(--orange_color);
    color: var(--purple_color);
}
