.body {
  background-color: var(--grey_color);
}
.header {
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--purple_color);
}

.header h1 {
  color: var(--cyan_color);
  font-size: 30px;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  padding-top: 64px;
  min-height: 100vh;
  background-color: var(--white_color);
  border-right: 1px solid rgba(69, 32, 171, 0.5);
}

.sidebar ul {
  background-color: var(--white_color);
  border-right: none;
}

.sidebar a {
  color: var(--purple_color);
}

.sidebar a:hover {
  color: var(--purple_color);
}

.sidebar li:hover {
  background-color: var(--orange_color);
}

.content {
  padding: 75px 10px 10px 210px;
  min-height: 95vh;
  background-color: var(--white_color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  min-height: 5vh;
  width: 100%;
  background-color: var(--purple_color);
  color: var(--cyan_color);
  text-align: center;
}

.footer a {
  color: var(--cyan_color);
  margin: 0 30px;
}

.iconColor {
  color: var(--purple_color);
}
