.body {
    background-color: var(--grey_color);
}
.header {
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--purple_color);
}

.header h1 {
    color: var(--cyan_color);
    font-size: 30px;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.sidebar {
    position: sticky;
    margin-top: 64px;
    background-color: var(--white_color);
}

.sidebar ul {
    background-color: var(--white_color);
    border-right: none;
}

.sidebar a {
    color: var(--purple_color);
}

.sidebar a:hover {
    color: var(--purple_color);
}

.sidebar li:hover {
    background-color: var(--orange_color);
}

.content {
    padding: 10px;
    margin-top: 64px;
    background-color: var(--white_color);
    border-left: 1px solid rgba(69, 32, 171, .5);
    height: 90vh;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--purple_color);
    color: var(--cyan_color);
    text-align: center;
}

.footer a {
    color: var(--cyan_color);
}

.iconColor{
    color: var(--purple_color);
}

.divider {
    opacity: .5;
    background-color: var(--purple_color);
}

