
.tag {
  margin: 0.2em;
}

.photo {
  margin-top: 1em;
}

.box {
  margin-top: 2.8em;
}

.button {
  margin-top: 1.3em;
}

.lvl {
  color: var(--orange_color);
  font-weight: bolder;
}

.status{
  color: var(--purple_color);
}

.divider span{
  color: var(--orange_color);
  margin-top: 1em;
  font-size: large;
}

.divider::after{
  color: var(--orange_color);
  margin-top: 1em;
}

.divider::before{
  color: var(--orange_color);
  margin-top: 1em;
}
