
.tag {
  margin: 0.2em;
}

.nameBox {
  margin-top: 5em;
}

.divider span{
  margin-top: 2em;
  color: var(--orange_color);
}

.divider::after{
  margin-top: 2em;
  color: var(--orange_color);
}


.divider::before{
  margin-top: 2em;
  color: var(--orange_color);
}
